header {
    background-image:url("../img/hp-rayo.png");
    background-size: contain;
    background-repeat: repeat-x;
}
.perfil {
    display:block;
    margin:auto;
    height:160px;
    width:150px;
}
nav .color {
    color:#3b014d;
    font-family:'Heebo', sans-serif;
    font-size:15px;
    font-weight:900;
}
h1 {
    color: #3b014d;
    background-color:#f9e2ff;
    font-family:'Fruktur', 'cursive';
    font-size :45px;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    color: #3b014d;
    background-color:#f9e2ff;
    font-family: 'Ceviche One', 'cursive';
    font-size : 30px;
    text-align: left;
    text-transform: uppercase;
}
.datos-personales {
    font-family: 'Heebo', sans-serif;
    font-size:15px;
    font-style:italic;
    font-weight:900;
    line-height:25px;
    margin-right:5px; 
}
.sin-tabulado{
    font-family: 'Heebo', sans-serif;
}
.formacion-academica{
    font-family: 'Heebo', sans-serif;
    font-size :15px;
    font-weight:700;
    line-height:25px;
    text-align:left;
    text-transform:none; 
}
.formacion-año{
    font-family: 'Heebo', sans-serif;
    margin-left:35px;
    line-height:25px;
}
.descripcion-formacion{
    font-family: 'Heebo', sans-serif;
    margin-left: 75px;
    line-height:25px;
}
.experiencia-laboral{
    font-family: 'Heebo', sans-serif;
    font-size :15px;
    font-weight:700;
    line-height:25px;
    text-align:left;
    text-transform:none; 
}
.experiencia-año{
    font-family: 'Heebo', sans-serif;
    margin-left:38px;
    line-height:25px;
}
.descripcion-experiencia{
    font-family: 'Heebo', sans-serif;
    margin-left:75px;
    line-height:25px;
}
footer {
    background: #3b014d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    margin-block-start: 121px;

}
footer > p {
    color: #f9e2ff;
    font-family: 'Ceviche One', 'cursive';
    font-weight: 700;
    font-size: 30px;
    line-height: 84.69%;
    margin: 0;
    text-transform: uppercase;
}
  footer > a > i {
    margin-inline-start: 26px;
    color:#f9e2ff
}
img {
    width: 20px;
    height: 20px;
    left: 772px;
    position: flex;
}